* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #001022;
    color: #FFF;
    font-family: "Lucida Console", monospace, serif;
    font-size: 62.5%;
	overflow: hidden;
}

.clear {
	clear: both;
}

a {
	color: #FFF;
}

a:hover {
	color: #1D7CF2;
}

h1 {
    font-size: 3.2em;
    font-weight: bold;
    margin-bottom: .5em;
    font-family: Georgia, serif;
}

h2 {
	font-size: 2.3em;
	margin-bottom: .5em;
}

h3 {
	font-size: 1.8em;
}

p {
	font-size: 1.5em;
}

/*
* Index
*/

#wrapper-index {
	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#header {
	min-width: 1020px;
	width: 100%;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 16, 34, .65);
	z-index: 99;
	-webkit-box-shadow: 0px 3px 0px 0px rgba(0, 16, 34, .4);
	-moz-box-shadow: 0px 3px 0px 0px rgba(0, 16, 34, .4);
	box-shadow: 0px 3px 0px 0px rgb(0, 16, 34, .4);
}

#game-title,
#game-desc {
	float: left;
}

#game-title {
	margin-top: 10px;
	margin-left: 5px;
}

#game-desc {
	width: 882px;
	margin-top: 10px;
	margin-left: 15px;
	line-height: 1.3em;
}

#gameIntro,
#gamePlayersList {
	position: relative;
	background: rgba(0, 0, 0, .8);
	margin: 0 auto;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 3px 0px 0px rgba(0, 16, 34, .4);
	-moz-box-shadow: 0px 3px 0px 0px rgba(0, 16, 34, .4);
	box-shadow: 0px 3px 0px 0px rgb(0, 16, 34, .4);
}

#gameIntro {
	width: 500px;
	margin-top: 100px;
	padding: 40px 0;
}

#gameIntro input[type="text"] {
	font-size: 1.8em;
	margin-top: 10px;
}

#gameIntro a.button {
	background: #2488F5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: block;
	font-size: 3em;
	margin: 0 auto;
	margin-top: 30px;
	padding: 10px;
	width: 70%;
	text-decoration: none;
}

#gameIntro a.button:hover {
	background: #F7F7F7;
	color: #333;
	text-decoration: none;
}

#gameIntro a.disconnected {
	background: #185DA8;
}

#gamePlayersList {
	width: 90%;
	display: none;
	margin-top: 30px;
	padding: 20px 0;
}

#gamePlayersList ul {
	font-size: 1.8em;
	list-style-type: none;
	height: 300px;
	overflow: auto;
}

#gameCanvas {
	background: url('../img/tiles/grass.png') 0 0 repeat;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

#debugCanvas,
#debugLog {
	display: none;
}

#debugCanvas {
	background-color: rgba(255, 255, 255, .75);
	position: absolute;
	top: 0;
	right: 0;
    z-index: 999;
}

#debugLog {
	background-color: rgba(255, 255, 221, .75);
	color: #333;
	font-size: 1.5em;
	padding: 1em;
	width: 50%;
    height: 200px;
    overflow: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
}

#debugLog ul {
	list-style-type: none;
}

#chatLog {
	background-color: rgba(254, 254, 254, 0.6);
	color: #333;
	font-size: 1.5em;
	padding: 1em;
	position: absolute;
	bottom: 31px;
	right: 0;
	width: 40%;
	height: 125px;
	overflow: auto;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-box-shadow: inset 0px 2px 0px 0px rgba(0, 16, 34, .4);
	-moz-box-shadow: inset 0px 2px 0px 0px rgba(0, 16, 34, .4);
	box-shadow: inset 0px -2px 0px 0px rgb(0, 16, 34, .4);
}

#chatLog ul {
	list-style-type: none;
}

#chatMsg {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	margin: 0 auto;
	font-size: 1.5em;
	border: 2px solid #CCC;
	padding: 5px;
}

#ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	z-index: 99;
}

#GUI {
	position: absolute;
	top: 63px;
	left: 0;
	width: 100%;
	height: 300px;
	z-index: 100;	
}

#GUI #inventory,
#GUI #playerInfo,
#GUI #pickup {
	background: rgba(0, 0, 0, .8);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 3px 0px 0px rgba(0, 16, 34, .4);
	-moz-box-shadow: 0px 3px 0px 0px rgba(0, 16, 34, .4);
	box-shadow: 0px 3px 0px 0px rgb(0, 16, 34, .4);
}

#GUI #bottomBar {
	background-color: rgba(0, 16, 34, .65);
	-webkit-box-shadow: inset 0px 3px 0px 0px rgba(0, 16, 34, .4);
	-moz-box-shadow: inset 0px 3px 0px 0px rgba(0, 16, 34, .4);
	box-shadow: inset 0px -3px 0px 0px rgb(0, 16, 34, .4);
	position: absolute;
	bottom: 0;
	left: 0;
	margin-top: 100px;
	width: 100%;
	height: 54px;
}

#GUI #inventory {
	width: 212px;
	position: absolute;
	top : 20px;
	right: 20px;
}

#GUI #inventory #inv {
	margin: 10px;
	padding: 0;
	list-style-type: none;
}

#GUI #inventory #inv li {
	width: 48px;
	height: 48px;
	float: left;
}

#GUI #inventory #inv .empty-slot {
	background: url('../img/gui/inventory_slot_bg.png') 0 0 no-repeat;
}

#GUI #inventory p {
	margin-top: 20px;
	margin-bottom: 10px;
}

#GUI #pickup {
	width: 235px;
	position: absolute;
	top : 20px;
	right: 242px;
}

#GUI #pickup #items {
	margin: 10px;
	padding: 0;
	list-style-type: none;
	height: 212px;
	overflow: auto;
}

#GUI #pickup #items li {
	width: 48px;
	height: 48px;
	float: left;
}

#GUI #pickup #items .empty-slot {
	background: url('../img/gui/inventory_slot_bg.png') 0 0 no-repeat;
}

#GUI #pickup p:hover {
	cursor: pointer;
	background: #F39814;
}

#GUI #pickup #cmd-pickup {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

#GUI #pickup #cmd-cancel {
	text-align: center;
	margin-bottom: 20px;
}

#GUI #commands {
	margin: 0;
	padding: 0;
	list-style-type: none; 
}

#GUI #commands li {
	float: left;
	width: 48px;
	height: 48px;
	margin-right: 5px;
}

#GUI #commands li:first-child {
	margin-left: 10px;
}

#GUI #commands li:hover {
	cursor: pointer;
	background: #F39814;
}

#GUI h3 {
	text-align: center;
	margin: 5px 10px 10px 10px;
	border: 1px solid #333;
	background-color: #0099CC;
	cursor: pointer;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#GUI #playerInfo {
	position: absolute;
	width: 200px;
	top: 20px;
	left: 20px;
}

#GUI #playerInfo dl {
	font-size: 1.5em;
	margin: 0 10px 10px 10px;
}

#GUI #playerInfo dt {
	margin-bottom: 5px;
	font-weight: bold;
}

#GUI #playerInfo dd {
	margin-left: 15px;
	margin-bottom: 5px;
}

/*
* Status
*/

#wrapper-status {
    margin: 10px;
    padding: 0;
}

#status-info,
#status-players {
	float: left;
	width: 400px;
}

#wrapper-status p,
#status-info dl,
#status-list {
	font-size: 1.5em;
}

#status-info dt {
	font-weight: bold;
	margin-bottom: .5em;
}

#status-info dd {
	margin-left: 1.5em;
	margin-bottom: 1em;
}

#status-list {
	list-style-position: inside;
	margin: 1em 0 1em 1.5em;
	width: 400px;
	height: 480px;
	overflow: auto;
}

#wrapper-status #footer {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
