* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #001022;
    color: #FFF;
    font-family: "Lucida Sans", monospace, serif;
    font-size: 62.5%;
}

.clear {
	clear: both;
}

a {
	color: #FFF;
}

a:hover {
	color: #1D7CF2;
}

h1 {
    font-size: 3.2em;
    font-weight: bold;
    margin-bottom: .5em;
    font-family: Georgia, serif;
}

h2 {
	margin-bottom: .5em;
}

p {
	font-size: 1.5em;
}

/*
* Index
*/

#wrapper-index {
	margin: 10px;
    padding: 0;
}

#game-title,
#game-desc {
	float: left;
}

#game-desc {
	margin-top: .5em;
	margin-left: 1em;
}

#gameUI {
	position: absolute;
	width: 95%;
	height: 480px; /* change according to canvas height */
	margin-top: 1em;
	z-index: 999;
}

#gameIntro,
#gamePlayersList {
	background: rgba(0, 0, 0, .8);
	margin: 0 auto;
	padding: 40px 0;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#gameIntro {
	width: 500px;
	margin-top: 80px;
}

#gamePlayersList {
	width: 90%;
	margin-top: 20px;
	display: none;
}

#gamePlayersList ul {
	font-size: 1.8em;
	list-style-type: none;
	height: 300px;
	overflow: auto;
}

#gameIntro input[type="text"] {
	font-size: 1.8em;
	margin-top: 10px;
}

#gameIntro a.button {
	background: #2488F5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: block;
	font-size: 3em;
	margin: 0 auto;
	margin-top: 30px;
	padding: 10px;
	width: 70%;
	text-decoration: none;
}

#gameIntro a.button:hover {
	background: #F7F7F7;
	color: #333;
	text-decoration: none;
}

#gameIntro a.disconnected {
	background: #185DA8;
}

#gameCanvas {
	background: url('../img/grass.png') 0 0 repeat;
	display: block;
	margin: 1em auto;
	margin-bottom: 0;
}

#debugCanvas {
	background-color: #FFF;
	position: absolute;
	top: 0;
	right: 0;
	filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    opacity: 0.75;
    z-index: 999;
}

#debugLog {
	background-color: #FFFFDD;
	color: #333;
	font-size: 1.5em;
	padding: 1em;
	width: 50%;
    height: 200px;
    overflow: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    opacity: 0.75; 
    z-index: 999;
}

#debugLog ul {
	list-style-type: none;
}

#chatLog {
	background-color: rgba(254, 254, 254, 0.5);
	color: #333;
	font-size: 1.5em;
	padding: 1em;
	position: absolute;
	width: 40%;
	height: 125px;
	overflow: auto;
	margin-top: -155px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}

#chatLog ul {
	list-style-type: none;
}

#chatMsg {
	display: block;
	margin: 0 auto;
	font-size: 1.5em;
	border: 2px solid #CCC;
	padding: 5px;
}

#footer {
	margin-top: 1em;
}

#ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

/*
* Status
*/

#wrapper-status {
    margin: 10px;
    padding: 0;
}

dl {
	font-size: 1.5em;
}

dt {
	font-weight: bold;
	margin-bottom: .5em;
}

dd {
	margin-left: 1.5em;
	margin-bottom: 1em;
}

#status-players {
	list-style-position: inside;
	margin: 1em 0 1em 1.5em;
}
