* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #001022;
    color: #FFF;
    font-family: Georgia, "Lucida Sans", monospace, serif;
    font-size: 62.5%;
    margin: 10px;
    padding: 0;
}

a {
	color: #FFF;
}

a:hover {
	color: #1D7CF2;
}

h1 {
    font-size: 3.2em;
    font-weight: bold;
    margin-bottom: .5em;
}

h2 {
	margin-bottom: .5em;
}

p {
	font-size: 1.5em;
}

#gameUI {
	position: absolute;
	width: 95%;
	height: 480px; /* change according to canvas height */
	margin-top: 1em;
}

#gameIntro,
#gamePlayersList {
	background: rgba(0, 0, 0, .8);
	margin: 0 auto;
	padding: 40px 0;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#gameIntro {
	width: 500px;
	margin-top: 80px;
}

#gamePlayersList {
	width: 90%;
	margin-top: 20px;
	display: none;
}

#gamePlayersList ul {
	font-size: 1.8em;
	list-style-type: none;
	height: 300px;
	overflow: auto;
}

#gameIntro input[type="text"] {
	font-size: 1.8em;
	margin-top: 10px;
}

#gameIntro a.button {
	background: #2488F5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: block;
	font-size: 3em;
	margin: 0 auto;
	margin-top: 30px;
	padding: 10px;
	width: 70%;
	text-decoration: none;
}

#gameIntro a.button:hover {
	background: #F7F7F7;
	color: #333;
	text-decoration: none;
}

#gameIntro a.disconnected {
	background: #185DA8;
}

#gameCanvas {
	background: url('../img/grass.png') 0 0 repeat;
	display: block;
	margin: 1em auto;
}

#debugCanvas {
	background-color: #FFF;
	position: absolute;
	top: 10px;
	left: 50%;
}

#debugLog {
	background-color: #FFFFDD;
	color: #333;
	font-size: 1.5em;
	padding: 1em;
	width: 50%;
    height: 200px;
    overflow: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    opacity: 0.75; 
}

#debugLog ul {
	list-style-type: none;
}

#debugButtons {
	margin: 1em 0;
}

#debugButtons button {
	padding: 1em;
}

#debugButtons button:hover {
	cursor: pointer;
}

#ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

#startAnimation,
#stopAnimation {
	position: fixed;
    bottom: 0;
    right: 0;
}
